<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">RegMod</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li id="home"><a href="/student_homepage">Home</a></li>
      <li id="register"><a href="/course_registration">Register</a></li>
      <li id="view"><a href="/view_course">View Courses</a></li>
      <li id="drop"><a href="/drop_course">Drop Courses</a></li>
      <li id="degree_requirements"><a href="/degree_requirements">Degree Requirements</a></li>
      <li id="logout"><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
