
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/admin_homepage">RegMod</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Students
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class ="dropdown-item" href="/student">View Students</a>
                    <a class ="dropdown-item" href="/student_creation">Add/Edit Students</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admins
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class ="dropdown-item" href="/admin">View Admins</a>
                    <a class ="dropdown-item" href="/admin_creation">Add/Edit Admins</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Courses
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class ="dropdown-item" href="/courses">View Courses</a>
                    <a class ="dropdown-item" href="/course_creation">Add/Edit Courses</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Prerequisites
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class ="dropdown-item" href="/prereq">View Prerequisites</a>
                    <a class ="dropdown-item" href="/prereq_creation">Add/Edit Prerequisites</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Degrees
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class ="dropdown-item" href="/degree">View Degrees</a>
                    <a class ="dropdown-item" href="/degree_creation">Add/Edit Degrees</a>
                    <a class ="dropdown-item" href="/degree_search">Search Degrees</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Registration Period
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class ="dropdown-item" href="/regperiod">View Registration Period</a>
                    <a class ="dropdown-item" href="/add_regperiod">Add/Edit Registration Period</a>
                </div>
            </div>
            <li class="nav-item">
                <a class="nav-link" href="/admin_allocate_search">View Allocations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/change_apw">Change Password</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
