<!DOCTYPE html>
<head>
    <%include partials/head%>
</head>
<body>
<%- include('admin_nav') %>

<div style="padding-left:16px">
    <h1>Welcome to Admin Homepage</h1>
    <p>Some content..</p>
</div>

</body>
</html>
