<!DOCTYPE html>
<html>
<head>
    <title>Course Registration</title>
    <%include partials/head%>
</head>
<body>
<% include partials/menu %>
<h1>Course Registration</h1>
<p>There is currently no registration round ongoing. Please check when the
next round begins and come back then.</p>
</body>
</html>
