<!DOCTYPE html>
<html>
<head>
    <title>CS2102 Database Connect</title>
    <%include partials/head%>
</head>
<body>
<% include partials/menu %>
<p>Your degree requirements:</p>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Course Code</th>
        <th scope="col">Type</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i=0; i<data.length; i++) { %>
        <tr>
            <td><%= data[i].required_cid%></td>
            <td><%= data[i].type%></td>
        </tr>
    <% } %>
    </tbody>
</table>
</body>
</html>
