<!DOCTYPE html>
<html>
<head>
    <title>Course Registration</title>
    <%include partials/head%>
</head>
<body>
<% include partials/menu %>
<h1>Drop Course</h1>
<form id="html_form" action="drop_course" role="form" method="post">
    <div class="form-group">
        <label for="cid">Course Code</label>
        <input type="text" class="form-control" id="cid" name="cid" placeholder="Enter Course Code.">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>
