<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>Login Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


  </head>
  <body>
    <h1><%= title%></h1>
		<form id="html_form" action="login" role="form" method="post">
			<div class="form-group">
				<label for="uid">UID</label>
				<input type="text" class="form-control" id="uid" name="uid" aria-describedby="uidHelp" placeholder="Enter your uid">
				<small id="uidHelp" class="form-text text-muted">Do not share your uid with anyone!</small>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
			</div>

			<button type="submit" class="btn btn-primary">Login</button>
		</form>


  </body>
</html>
