<!DOCTYPE html>
<html>
  <head>
    <%include partials/head%>
  </head>
  <body>
  <% include partials/menu %>
  <h1>Welcome :)</h1>
  <p>Welcome to your home page.</p>
  </body>
  <% include partials/script %>
</html>
