<!DOCTYPE html>
<html>
<head>
    <title>CS2102 Database Connect</title>

    <%include partials/head%>
</head>
<body>
<% include partials/menu %>
<h1>My Courses</h1>
<table class="table">
    <thead>
    <br>
    <h4>Successfully registered courses for this semesters:</h4>
    <tr>
        <th scope="col">Course Code</th>
        <th scope="col">Course Name</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i=0; i<data.length; i++) { %>
        <tr>
            <td><%= data[i].cid%></td>
            <td><%= data[i].name%></td>
        </tr>
    <% } %>
    </tbody>
</table>
    <table class="table">
        <thead>
        <br>
        <h4>All courses taken in previous semesters:</h4>
        <tr>
            <th scope="col">Course Code</th>
            <th scope="col">Course Name</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i=0; i<data2.length; i++) { %>
            <tr>
                <td><%= data2[i].cid%></td>
                <td><%= data2[i].name%></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</body>
</html>
