<!DOCTYPE html>
<html>
<head>
    <title>CS2102 Database Connect</title>

    <%include partials/head%>
</head>
<body>
<% include partials/menu %>
<h1>My Courses</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Course Code</th>
        <th scope="col">Course Name</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i=0; i<data.length; i++) { %>
        <tr>
            <td><%= data[i].cid%></td>
            <td><%= data[i].name%></td>
        </tr>
    <% } %>
    </tbody>
</body>
</html>
